body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(/assets/images/background3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: black;
}

.logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 90%;
  background-image: url("/assets/images/logo1.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: -2;
  pointer-events: none;
}

/* HEADER */
header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

/* HERO SECTION */
.hero,
.hero-video,
.hero-text,
.cta-button {
  display: none;
  /* Hidden on mobile-first*/
}

.cta-button:hover {
  background: darkred;
  transform: scale(1.1);
}

/* NAVIGATION MENU */

/* HAMBURGER MENU ICON */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 100;
  background: transparent;
}

.bar {
  width: 100%;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar {
  background: rgba(0, 0, 0, 0.897);
  position: fixed;
  top: 0;
  right: -60%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  padding-top: 70px;
  width: 50%;
  height: 100vh;
  transition: right 0.3s ease-in-out;
  z-index: 99;
}

.navbar.active {
  right: 0;
}

.navbar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  padding: 0;
  gap: 20px;
}

.navbar a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  color: white;
}

.navbar a:hover {
  text-decoration: underline !important;
}

/* ANIMATION, HAMBURGER TURNS X */
.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

h3 {
  font-size: 20px;
  margin: 0;
  padding: 5px 0;
  position: relative;
  top: 5px;
  text-transform: uppercase;
}

/* MAIN CONTENT STYLING */
main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 90%;
  margin: auto;
  color: white;
  padding-top: 80%;
  padding-bottom: 20px;
}

/* MAIN CONTENT BOXES */
.band-photo,
.latest-news,
.upcoming-gigs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.band-text {
  order: 2;
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
}

.band-photo {
  order: 3;
}

.band-photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.latest-news {
  margin: 10px;
  background: rgba(0, 0, 0, 0.386);
  order: 4;
  padding: 15px;
}

.latest-news p {
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background: darkred;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.read-more:hover {
  background: crimson;
  transform: scale(1.05);
}

.upcoming-gigs {
  order: 1;
  flex-wrap: wrap;
  text-align: center;
  line-height: 1.6;
  width: 75%;
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  animation: blink-color 1s infinite alternate;
}

@keyframes blink-color {
  0% {
    background: rgba(255, 0, 0, 0.231);
  }

  100% {
    background: rgba(0, 0, 0, 0);
  }
}

/* HTML FORM STYLING */
.form-container {
  flex: 1;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.607);
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* FORM LAYOUT */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* LABEL STYLING */
label {
  margin-top: 10px;
  font-weight: bold;
}


/* INPUT & TEXTAREA STYLING */
input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* FOKUS EFFECTS ON INPUT */
input:focus,
textarea:focus {
  outline: none;
  border-color: crimson;
  box-shadow: inset 0 0 5px crimson;
}

/* RADIOBUTTONS */
fieldset {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  border: none;
  margin-top: 20px;
  padding: 10px;
}

fieldset label {
  display: flex;
  align-items: center;
  gap: 8px;
}

fieldset label:nth-child(4) {
  grid-column: 1 / span 2;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

/* LEGEND STYLING */
legend {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

/* RADIOBUTTON STYLING */
fieldset input[type="radio"] {
  margin: 0;
  width: 16px;
  height: 16px;
  accent-color: crimson;
}

input[type="radio"]:focus {
  outline: none;
  box-shadow: none;
}

.additional-info textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

textarea {
  font-family: inherit;
}

/* CHECKBOX STYLING */
.checkbox-container {
  gap: 10px;
  margin-top: 15px;
  font-size: 15px;
  border: none;
  font-weight: normal !important;
}

.checkbox-container input[type="checkbox"] {
  width: 18px;
  height: 18px;
  accent-color: crimson;
  cursor: pointer;
}

.checkbox-container a {
  color: white;
  transition: color 0.3s ease;
}

.checkbox-container a:hover {
  color: white;
}

/* SUBMIT BUTTON STYLING */
button {
  margin-top: 20px;
  padding: 12px;
  background: rgb(58, 3, 14);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* HOVER-EFFECT ON BUTTON */
button:hover {
  background: rgb(41, 4, 4);
}

/* NEWS PAGE */
.news-page h1 {
  text-align: center;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 90%;
}

.article {
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 100%;
  min-width: 250px;
  text-align: center;
}

/* POLICY PAGE */
.policy-page main,
.news-page main {
  gap: 10px;
}

.terms-of-use,
.privacy-policy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* FOOTER */
footer {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 10px;
}

.contact {
  order: 1;
  font-weight: bold;
  font-size: 16px;
}

.icons {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  justify-content: center;
}

.copyrights {
  order: 3;
}

.policy,
.webdesign {
  font-size: 12px;
  margin-top: 10px;
  opacity: 0.8;
}

.policy {
  order: 4;
}

.webdesign {
  order: 5;
}

/* LINK STYLING */
a {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* FOR IPADS (768px - 1023px)*/
@media (min-width: 768px) {

  /* LOGO, HEADER AND NAVIGATION */

  .home-page .logo {
    display: none;
  }

  .booking-page .logo,
  .news-page .logo,
  .policy-page .logo {
    width: 250px;
    height: 250px;
    opacity: 0.3;
    left: 20px;
    transform: none;
  }


  header {
    background: black;
  }

  /* HEADER */
  .booking-page header,
  .policy-page header,
  .news-page header {
    background: none;
  }

  /* NAVBAR */
  .booking-page .navbar,
  .policy-page .navbar,
  .news-page .navbar {
    background: none;
  }

  .navbar a {
    font-size: 25px;
  }

  /* HERO SECTION */
  .hero {
    background: black;
    position: relative;
    width: 100%;
    height: 60vh;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    z-index: -2;
  }

  /* HERO VIDEO */
  .hero-video {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .hero-text {
    display: block;
    position: absolute;
    bottom: 18px;
    right: 18px;
    font-size: 12px;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.269);
  }

  /* POLICY PAGE */
  .policy-page h1 {
    text-align: left;
  }

  .policy-page main {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    width: 90%;
    padding-top: 120px;
    padding-bottom: 20px;
  }

  .terms-of-use,
  .privacy-policy {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: left;
    width: 40%;
  }

  /* NEWS PAGE */

  .news-page main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    padding-top: 100px;
  }

  .article {
    flex: 1 1 calc(50% - 20%);
    max-width: calc(50% - 20%);
  }

  /* MAIN CONTENT */

  main {
    flex-direction: row;
    padding-top: 0;
  }

  .band-text {
    margin-top: 30px;
  }

  /* HTML FORM SECTION */
  .form-container {
    max-width: 600px;
  }

  .additional-info textarea {
    width: 90%;
  }

  button {
    width: 50%;
    margin: 20px auto;
  }

  /* FOOTER */
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.664);
    padding: 20px 0;
  }

  .contact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 16px;
    font-weight: bold;
  }

  .icons {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    justify-content: center;
    width: 250px;
    gap: 15px;
  }

  .copyrights {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 14px;
  }

  .policy {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    font-size: 12px;
    opacity: 0.8;
  }

  .webdesign {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 12px;
    opacity: 0.8;
  }

}

/* LAPTOPS / LARGER SCREENS (1024px) */
@media (min-width: 1024px) {

  /* NAVIGATION & HEADER */

  .menu-toggle {
    display: none;
  }

  .navbar {
    position: static;
    background: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
  }

  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .navbar a {
    font-size: 18px;
  }

  /* HERO SECTION */
  .hero {
    height: 100vh;
  }

  .hero-text {
    font-size: 15px;
    bottom: 20px;
    right: 20px;
  }

  .cta-button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    padding: 20px 20px;
    background: crimson;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    animation: blink 1.5s infinite ease-in-out;
  }


  @keyframes blink {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    50% {
      opacity: 0.6;
      transform: scale(1.1);
    }

    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .home-page main {
    display: none;
  }

  .policy-page main {
    gap: 10px;
    color: white;
  }

  /* FOOTER */
  footer {
    grid-template-rows: auto auto auto;
    justify-items: center;
    background: black;
  }

  .policy-page footer,
  .booking-page footer {
    background: rgba(0, 0, 0, 0.66);
  }

  .booking-page footer {
    position: absolute;
  }

  .contact {
    grid-row: 1 / 4;
  }

  .icons {
    width: 400px;
    grid-row: 1 / 4;
  }

  .copyrights {
    grid-row: 1 / 4;
  }

  .policy {
    grid-row: 4 / 4;
  }

  .webdesign {
    grid-row: 4 / 4;
    text-align: center;
  }
}